/** Now Playing **/

.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
  text-align: center;
  color: black;
}

.now-playing__artist {
  margin-bottom: 1em;
  text-align: center;
  color: black;
}

.now-playing__status {
  margin-bottom: 1em;
  text-align: center;
  color: black;
}

.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 100%;
}

.now-playing__img img {
  max-width: 200vmin;
  width: 100%;
}

/** Progress **/

.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.progress-text {
  color: black;
}

.progress__bar {
  color: black;
  background-color: rgb(0, 0, 0);
  height: 4px;
}

/** Listen in button **/
.listen-btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  padding: 0.2em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  width: 100%;
  position: relative;
  top: 5px;
}

.listen-btn:hover {
  background: #1ecd97;
  color: #333;
}

.listen-btn--login {
  margin: 0 auto;
}

/** Stop Listen in button **/
.stop-listen-btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  padding: 0.2em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  width: 100%;
  position: relative;
}

.stop-listen-btn:hover {
  background: #1ecd97;
  color: #333;
}

.stop-listen-btn--login {
  margin: 0 auto;
}
