.btn {
    background-color: transparent;
    border-radius: 2em;
    border: 0.2em solid #1ecd97;
    color: #1ecd97;
    cursor: pointer;
    font-size: 3vmin;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
    width: 100%;
    
  }
  
  .btn:hover {
    background: #1ecd97;
    color: #333;
  }
  
  .btn--login {
    margin: 0 auto;
  }