.spotify-btn {
    background-color: transparent;
    border-radius: 2em;
    border: 0.2em solid #1ecd97;
    color: #1ecd97;
    cursor: pointer;
    font-size: 3vmin;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
    width: 100%;

  }
  
  .spotify-btn:hover {
    background: #1ecd97;
    color: #333;
  }
  
  .spotify-btn--login {
    margin: 0 auto;
  }

  .infoWindowStyle {
    position: absolute;
    bottom: 0px;
    left: 40px;
    width: 400px;
    background-color: white;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 14px;
    z-index: 100px;
  }
  