.margin-box {
  margin: 10%;
}

.big-text {
  font-size: 20px;
}

.bottom-margin {
  margin-bottom: 25px;
}

.bold-title {
  font-weight: 600;
}
.card-style {
  /*color: black;*/
  border-color: #242c37;
  background-color: #3f4857;
  color: #dee3ea;
  border-radius: 10px;
  border-width: thick;
}

.profile-submit-button {
  background-color: #fd4d4d;
  border-color: #fd4d4d;
  border-radius: 7px;
}

.profile-submit-button:hover {
  background-color: #fd6868;
  border-color: #fd6868;
}

.profile-submit-button:focus:hover {
  background-color: #fd6868 !important;
  border-color: #fd6868 !important;
}

.profile-submit-button:focus {
  background-color: #fd4d4d !important;
  border-color: #fd4d4d !important;
  box-shadow: none !important;
}

.profile-info-window {
  position: relative !important;
  z-index: 0px !important;
  color: black !important;
}

.spotifyCardRow1 {
  margin-bottom: 10px;
  margin-left: 0%;
}
.spotifyCardRow2 {
  padding: 8px;
}

.spotifyPicStyle {
  margin-left: 15%;
  margin-top: 5%;
}

.spotifyNameStyle {
  margin-left: 5%;
  margin-top: 6%;
  font-size: 30px;
}

#card-title-color {
  background-color: #242c37;
}
#card-body-style {
  /*background-color: white;*/
  background-color: #3f4857;
  border-radius: 10px;
}
