.underline-on-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.account-height {
  height: 550px;
}

.align-text-center {
  text-align: center;
}

.submit-button {
  width: 100%;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

.account-window {
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  margin-top: 150px;
}
