.underline-on-hover {
  color: #fd4d4d;
  font-weight: bold;
}

.underline-on-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.account-height {
  height: 600px;
}

.align-text-center {
  text-align: center;
}

.submit-button {
  width: 100%;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
  background-color: #3a4658;
  border-color: #242c37;
}

.submit-button:hover {
  background-color: #4d5d75;
  border-color: #4d5d75;
}

.submit-button:focus:hover {
  background-color: #4d5d75;
  border-color: #4d5d75;
}

.submit-button:disabled {
  background-color: #242c37;
  border-color: #242c37;
}

.submit-button:focus {
  background-color: #242c37 !important;
  border-color: #242c37 !important;
}

/*
  background-color: #151a21;
  */
.account-window {
  height: 575px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border-color: #151a21 !important;
  background-color: #252b36;
  color: #dee3ea;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-color {
  background-color: #dee3ea;
}

#title-header {
  font-size: 30px;
  font-weight: bold;
}
